#root {
  max-width: 1280px;
  margin: 0 auto;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (max-width: 700px) {
  h1 {
    font-size: 2em;
  }
}

hr{
  margin-bottom: 2rem;
}

@media (max-width: 700px) {
  hr {
    margin-bottom: 1rem;
  }
}

#form{
  transform: scale(1.5);
  transform-origin: top center;
}

@media (max-width: 700px) {
  #form {
    transform: scale(1);
  }
}
